
:root{
--main-background-color:#FFFFFF;
--second-background-color:#2F303A;
--first-logo-part-color:#000000;
--second-logo-part-color:#FFFFFF;
--hero-btn-color:#FFFFFF;
--hero-btn-background-color:#2196F3;
--header-link-color:#212121;
--first-contacts-color:#757575;
--main-title-color:#FFFFFF;
--second-title-color:#212121;
--main-text-color:#757575;
--address-map-color:#FFFFFF;
--background-items-color:#FFFFFF;
--backgrounds-team-color:#F5F4FA;
--portfolio-btn-color:#212121;
--portfolio-btn-background-color: #F5F4FA;
--porfolio-btn-active-color:#FFFFFF;
--accent-color:#2196F3;

}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
        height: auto;
}
/* ------------BODY------------ */
body{
    font-family: 'roboto', 'sans-serif';
    letter-spacing: 0.03em;
    font-size: 14px;
 background-color:var(--main-background-color)

}



.list{
list-style: none;
}
.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ------------HEDER------------ */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    color: var(--accent-color)}

.logo-part {
    color: var(--first-logo-part-color);}

    .header-list{
        display: flex;
        gap: 50px;
    }

    .header-contacts{
        display: flex;
        align-items: center;
        gap: 50px;
    }


.header-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color)}

.cotacts-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-contacts-color);
}
.cotacts-link:hover, 
.cotacts-link:focus{
    color: var(--accent-color);
}

/* ------------HERO----------- */
.hero {
background: var(--second-background-color);
padding-top: 200px;
padding-bottom: 200px;
}

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--main-title-color);
        max-width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-btn-color);
background: var(--hero-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
margin: 0 auto;
padding: 10px 32px;
min-width: 216px;
}

.hero-btn:hover,
.hero-btn:focus{
    background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

        /* ------------ADVANTAGE----------- */

.advantage{
    padding-top: 94px;
}

.advantage-list{
    display: flex;
    gap: 30px;
}

.advantage-item{
    flex-basis: calc((100% - 90px)/4);
}
.advantage-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    margin-bottom: 10px;
        color: var(--second-title-color);
}
.advantage-txt{
    line-height: 1.71;
    color: var(--main-text-color);
}

                /* ------------PROJECTS---------- */
.projects-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

    .projects-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: var(--second-title-color);
            margin-bottom: 50px;
    }

    /* ------------TEAM---------- */
    .team{
        background: var(--backgrounds-team-color)
    }
    .team-title{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: var(--second-title-color);
            margin-bottom: 50px;
    }
    .team-list{
        display: flex;
        gap: 30px;
    }
    .team-item{
        background: var(--background-items-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            flex-basis: calc((100%-90px) / 4);
    }

    .team-name{
        font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--second-title-color);
            margin-bottom: 10px;
    }
    .team-job{
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--main-text-color);
    }

.team-wrap{
    padding-top: 30px;
    padding-bottom: 30px;
}
        /* ------------FOOTER--------- */

.address{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:var(--second-background-color);
}

        .address-logo{
        font-family: 'Raleway','sans-serif';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-color);
        display: inline-block;
        margin-bottom: 20px;
        }
       
        .address-logo-part{
            color: var(--second-logo-part-color)
        }

        .address-map{
            font-style: normal;
            line-height: 1.71;
            color: var(--address-map-color);
        }
        .address-map:hover,
        .address-map:focus{
            color: var(--accent-color);}

.address-item:not(:last-child)
{
    margin-bottom: 9px;
    display: block;
}

        .address-link{
            font-style: normal;
            line-height: 1.71;
            color: rgba(255, 255, 255, 0.6);
        }
.address-link:hover,
.address-link:focus{
 color: var(--accent-color);}

 /* ------------PORTFOLIO-------- */
 .current {
     color: var(--accent-color);
 }
.header-porfolio{
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
        padding-bottom: 25px;
}
.filters{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

 .filters-btn{
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--portfolio-btn-color);
        background: var(--portfolio-btn-background-color);
        border-radius: 4px;
        cursor: pointer;  
        border-color: transparent;  
        padding: 6px 22px;
 }
 .filters-btn:hover,
.filters-btn:focus{
    background-color: var(--accent-color);
    color:var(--porfolio-btn-active-color);}

    /* ------------PORTFOLIO-LIST-------- */

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.portfolio-item {
flex-basis: calc((100% - 60px) / 3);
background: var(--background-items-color);
}

.portfolio-wrap{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.portfolio-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--second-title-color);
margin-bottom: 4px;}


.portfolio-text{
        font-size: 16px;
        line-height: 1.88;
        color: var(--main-text-color);
}